%div#text
  %div#text
    %h2 Welcome to Visage
    You can select a feature in the top bar or a host in the list below
    %p
    
    %h2 Select a host directly
    %form{:name => "selection"}
      %select{:name => "hosts", :onchange => "jumpto(this.value)"}
        %option{:value=>nil} 
        - @hosts.each do |h|
          %option{:value => h} #{h}


    
