%div#nav
  %div#hosts.nav
    %h2 Choose your navigation mode
    %a{:href=>"/groups"} Per groups
    \/
    %a{:href=>"/sets"} Per sets
    
    %p
    
    %h2 Select a host directly
    %form{:name => "selection"}
      %select{:name => "hosts", :onchange => "jumpto(this.value)"}
        %option{:value=>nil} 
        - @hosts.each do |h|
          %option{:value => h} #{h}


    
